# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.py]
indent_size = 4
max_line_length = 110

[*.{ps1,bat}]
end_of_line = crlf
indent_size = 4

[*.{cpp,h,cs}]
indent_style = tab
indent_size = 4

[*.{ini,uproject}]
indent_style = tab
indent_size = 4

[*.md]
trim_trailing_whitespace = false
